RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/(.*)$ index.php [L,QSA]
RewriteRule ^(api/)?(register|login|status|favorites/push|favorites/pull|binge/push|binge/pull|sync/push|sync/pull)$ index.php [L,QSA]
